.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 20px;
  text-align: center;
}

.h2 {
  font-size: 4.5rem;
  font-family: 'TheCalonue';
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin-bottom: 0;
}

.container p {
  font-size: 1.7rem;
  letter-spacing: 0.08rem;
  color: var(--color-primary-2);
}
