.section {
  position: relative;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  background: var(--color-primary);
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: var(--color-primary-3);
  flex-wrap: wrap;
  align-items: center;
}

.infoContainer {
  display: flex;
  width: 50rem;
  flex-direction: column;
  justify-content: flex-end;
}

.formContainer {
  background: var(--color-primary-3);
  border-radius: 35px;
  text-align: center;
}

.logo {
  width: 120px;
  height: 60px;
  margin-top: 1.5rem;
}

.h2 {
  font-size: 6.5rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.h2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: var(--color-primary-3);
  bottom: 0;
  left: 0;
}

.container p {
  font-size: 1.7rem;
  letter-spacing: 0.08rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary-2);
}

.emailInfo {
  margin-top: 0.8rem;
}

.emailInfo,
.instagramInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  margin-bottom: 0.3rem;
}

.contactForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20rem;
  padding: 50px 40px;
  gap: 1rem;
}

.inputName:focus,
.inputEmail:focus,
.textarea:focus,
.inputPhone:focus,
.inputMessage:focus {
  border-bottom: 2px solid var(--color-primary);
  outline: none;
}

.inputName,
.inputEmail,
.inputPhone,
.inputMessage {
  flex: 1;
  min-width: 45%;
  font-size: 1rem;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  background-color: transparent;
}

.inputName::placeholder,
.inputEmail::placeholder,
.inputPhone::placeholder,
.inputMessage::placeholder,
.textarea::placeholder {
  color: var(--color-primary);
  font-weight: 600;
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.formButton {
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.formButton:hover {
  background-color: var(--color-primary-2);
}

@media (max-width: 1200px) {
  .instagramInfo {
    margin-bottom: 2rem;
  }
}

@media (max-width: 980px) {
  .container {
    flex-wrap: wrap;
    padding: 0 10px;
  }

  .infoContainer {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .h2 {
    font-size: 3.2rem;
  }
}
