.container {
  margin: 0 auto;
  padding: 120px 10px 20px;
  text-align: center;
  font-family: 'UB-Future-Regular';
}

.h1 {
  margin-top: 3rem;
  font-size: 40pt;
  font-family: 'Ub-Future-Bold';
  margin-bottom: 0.5rem;
}

.content {
  font-size: 23pt;
}

.content p:first-child {
  margin-top: 0;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.image {
  width: 100%;
  max-width: 1500px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
