.section {
  height: 70vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0;
  max-width: 1700px;
  margin: 15rem auto 0;
}

.h1 {
  font-family: 'TheCalonue';
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  margin: 0;
}

.content p {
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
  font-weight: 700;
}

.content span {
  color: var(--color-primary);
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding: 0 0.2rem;
  overflow: hidden;
  vertical-align: middle;

}

.content span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-primary-2);
  z-index: -1;
  animation: fillBackground 1s ease-in-out forwards;
}

@keyframes fillBackground {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.content span {
  z-index: 1;
}

@media (max-width: 980px) {
  .container {
    padding: 0 20px 0;
    margin: 8rem auto 0;
  }
}
