.section {
  min-height: 100vh;
  position: relative;
  padding-top: 15rem;
  overflow: hidden;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0;
  max-width: 1700px;
  margin: 0 auto;
  /* min-height: 100vh; */
}

.h1 {
  font-family: 'TheCalonue';
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  margin: 0;
}

.content p {
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
  font-weight: 700;
}

.underlineText {
  position: relative;
  display: inline-block;
}

.underlineText > .underline {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 8px;
  pointer-events: none;
  z-index: 0;
}

@media (max-width: 980px) {
  .container {
    padding: 0 20px 0;
  }
}
