.section {
  min-height: 100vh;
  position: relative;
  padding-top: 15rem;
  overflow: hidden;
  z-index: 1;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  color: var(--color-primary-3);
}

.h1 {
  font-size: 5.5rem;
  margin-bottom: 3rem;
  letter-spacing: 0.2rem;
  line-height: 0.9;
  position: relative;
}

.differentFont {
  font-family: 'UB-Future-Bold';
  font-size: 8rem;
  position: relative;
  display: inline-block;
  right: 5px;
}

.content p {
  display: inline-block;
  margin: 0;
  font-size: 1.1rem;
  letter-spacing: 0.5rem;
  font-family: 'UB-Future-Regular';
  position: relative;
  padding-bottom: 20px;
}

.content p::after {
  content: '';
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
  height: 2px;
  background-color: var(--color-primary-3);
}

.quotes {
  position: absolute;
  top: -60px;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

.quotation {
  width: 60px;
  height: 55px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contentWrapper {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

.h1,
.content p {
  opacity: var(--opacity-value);
  transform: translateY(calc(var(--opacity-value) * 20px));
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 4rem;
  }

  .differentFont {
    font-size: 5.8rem;
  }
}
