@font-face {
  font-family: 'Garmot-Regular';
  src: url('./assets/fonts/Garmot-Regular.OTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UB-Future-Regular';
  src: url('./assets/fonts/UB-Future-Regular.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UB-Future-Bold';
  src: url('./assets/fonts/UB-Future-Bold.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UB-Future-Italic';
  src: url('./assets/fonts/UB-Future-Italic.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
}


/* @font-face {
  font-family: 'UB-FutureCond-Regular';
  src: url('./assets/fonts/UB-FutureCond-Regular.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UB-FutureCond-Bold';
  src: url('./assets/fonts/UB-FutureCond-Bold.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UB-FutureCond-Italic';
  src: url('./assets/fonts/UB-FutureCond-Italic.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
} */

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Garmot-Regular', sans-serif;
  font-size: 18px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0a0908;
  min-height: 100vh;
  background-color: #f8f9fa;
  --color-primary: #0a0908;
  --color-primary-2: #cac9c9;
  --color-primary-3: #f8f9fa;
  --color-hover: #842cf4;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
